	.headerContainer{
		text-align: center;
		font-family: helvetica;
		position: relative;
		text-align: center;
		color: #f5f5f5;
	}
	.brandName{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.searchIcon{
		position: fixed;
		top: 17.5px;
		right: -650px;
	} 
	input{
		border: 0;
		padding:7px;
		font-size: 12px;
		position: absolute;
		top: 17px;
		left: 605px;
	}
	.shoppingCart{
		position: fixed;
		top: 33px;
		right: -80px;
	}
	.Membership{
		font-family: helvetica;
		color: #f5f5f5;
		position: fixed;
		top: 35px;
		left: 30px;
	}
	.brandMotto{
		position: absolute;
		top: 60%;
		left: 49.5%;
		transform: translate(-50%, -50%);
		
	}
	.username{
		border: 0;
		padding: 4px;
		text-align: justify;
		position: relative;
		color: black;
		font-family: helvetica;
		font-size: 12px;
		width: 20%;
		top: 5px;
		margin: -1074px;
	}
	.incorrectInput{
		color: red;
		font-family: helvetica;
		font-size: 12px;
		position: absolute;
		margin: 520px;
		top: 170px;
		left: 1%;
	}
	.pwd{
		border: 0;
		padding: 4px;
		text-align: justify;
		position: relative;
		color: black;
		font-family: helvetica;
		font-size: 12px;
		width: 20%;
		top: 30px;
		margin: -1070px;
	}
	label.username{
		color: #f5f5f5;
		font-family: helvetica;
		text-align: center;
		margin: 480px;
		font-size: 18px;
	}
	label.pwd{
		color: #f5f5f5;
		font-family: helvetica;
		text-align: center;
		margin: 480px;
		font-size: 18px;
	}
	footer.ARRFooter{
		position: absolute;
		margin: 10px;
		color: #5e5e5e;
		font-family: helvetica;
		font-size: 6px;
	}
	h3.headerSignUp{
		text-align: center;
		color: #f5f5f5;
		font-family: helvetica;
		font-size: 30px;
		padding: 0px 10px;
	}
	input.logIn{
		background-color: red;
		font-family: helvetica;
		color: #f5f5f5;
		padding: 10px;
		width: 10%;
		position: absolute;
		top: 15%;
		margin: 590px;
		right: -115px;
		left: 150px;
	}
	h4{
		display: inline;
		padding: 15px 10px;
	}
	body{
		background-color: black;
	}
	a{
		color: #f5f5f5;
	}
	h1{
		color: #f5f5f5;
		font-size: 70px;
		padding: -100px;
	}
	ul{
		padding: 5px;
		color: rgba(255,255,255,1);
		background: black;
		background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
		background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
		background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
		line-height: 28px;
		text-align: center;
		position: relative;
		bottom: 50px;
		margin: -3.5px;
		height: 40px;
		width: 1347px;
	}
	li{
		display: inline;
		padding: 0px 10px 0px 10px;
	}
	p{
	  font-family: helvetica;
	  color: rgba(255,255,255,1);
	  background: black;
	  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
	  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
	  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
	  padding: 10px;
	  line-height: 28px;
	  text-align: justify;
	  position: relative;
	  bottom: 50px;
	  margin: 0;
	  height: 30px;
	  transition: height .5s;
	  -webkit-transition: height .5s;
	  -moz-transition: height .5s;
	  width: 610px;
	}

	@media (max-width: 500px){
			h1{
				font-size: 36px;
				padding: 5px;
			}
			li{
				padding: 5px;
				display: block;
			}
			p{
				font-size: 20px;
				line-height: 24px;
			}
	}
